{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments API",
    "version": "1.1",
    "description": "Accept crypto payments, pay out to wallets and banks, and settle in the currency you choose. Powered by Basqet."
  },
  "servers": [
    {
      "url": "https://api.basqet.com/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Transactions",
      "description": "Create, initiate and verify payments."
    },
    {
      "name": "Payment links",
      "description": "Create and manage hosted checkout links."
    },
    {
      "name": "Conversions and rates",
      "description": "Preview a rate, or move balances between your wallets."
    },
    {
      "name": "Testing",
      "description": "Simulate outcomes and replay webhooks in test mode."
    },
    {
      "name": "Reference",
      "description": "Supported currencies and networks."
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token. Most endpoints take your secret key (`sec_live_...`). Initialize Transaction takes your **public** key (`pub_live_...`), and Verify Transaction accepts either."
      }
    }
  },
  "paths": {
    "/currency": {
      "get": {
        "summary": "List supported currencies",
        "description": "Returns every supported currency grouped as `FIAT` or `CRYPTO`, with the networks each crypto is available on. Fetch this rather than hard-coding currency IDs.",
        "operationId": "fetch-currencies",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Options: FIAT or CRYPTO",
            "schema": {
              "type": "string",
              "default": "FIAT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": [\n    {\n      \"id\": 1,\n      \"name\": \"United States Dollar\",\n      \"slug\": \"USD\",\n      \"icon_url\": null,\n      \"type\": \"FIAT\",\n      \"created_at\": \"2022-01-19T13:41:40.000Z\",\n      \"updated_at\": \"2022-01-19T13:41:40.000Z\"\n    },\n    {\n      \"id\": 2,\n      \"name\": \"Nigerian Naira\",\n      \"slug\": \"NGN\",\n      \"icon_url\": null,\n      \"type\": \"FIAT\",\n      \"created_at\": \"2022-01-19T13:41:40.000Z\",\n      \"updated_at\": \"2022-01-19T13:41:40.000Z\"\n    }\n  ],\n  \"meta\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "name": {
                            "type": "string",
                            "example": "United States Dollar"
                          },
                          "slug": {
                            "type": "string",
                            "example": "USD"
                          },
                          "icon_url": {},
                          "type": {
                            "type": "string",
                            "example": "FIAT"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2022-01-19T13:41:40.000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2022-01-19T13:41:40.000Z"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"Validation Error\",\n  \"meta\": {},\n  \"data\": {\n    \"type\": {\n      \"message\": \"type must be one of [FIAT, CRYPTO]\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation Error"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "type must be one of [FIAT, CRYPTO]"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Reference"
        ]
      }
    },
    "/transaction": {
      "post": {
        "summary": "Initialize a transaction",
        "description": "Creates the record of what the customer owes. Returns a reference with status `INITIATED` \u2014 no address exists and no rate is locked yet. Takes your **public** key.",
        "operationId": "initialize-transaction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer": {
                    "type": "object",
                    "description": "customer's infomation",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "customer's name",
                        "default": "tunde"
                      },
                      "email": {
                        "type": "string",
                        "description": "customer's email address.",
                        "default": "customer@example.com"
                      }
                    }
                  },
                  "amount": {
                    "type": "string",
                    "description": "amount for the transaction",
                    "default": "1000"
                  },
                  "currency": {
                    "type": "string",
                    "description": "USD or NGN",
                    "default": "NGN"
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "reference": {
                        "type": "string",
                        "description": "A randomly generated string."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"id\": 42,\n    \"reference\": \"bq_pL2upBiLivl_o1Zg0\",\n    \"amount_paid\": null,\n    \"status\": \"INITIATED\",\n    \"description\": null,\n    \"initialized_amount\": 1000,\n    \"payment_amount\": null,\n    \"payment_address\": null,\n    \"payment_currency\": null,\n    \"initialized_currency\": 2,\n    \"merchant\": {\n      \"id\": 10,\n      \"name\": \"Appstate\"\n    }\n  },\n  \"meta\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 42,
                          "default": 0
                        },
                        "reference": {
                          "type": "string",
                          "example": "bq_pL2upBiLivl_o1Zg0"
                        },
                        "amount_paid": {},
                        "status": {
                          "type": "string",
                          "example": "INITIATED"
                        },
                        "description": {},
                        "initialized_amount": {
                          "type": "integer",
                          "example": 1000,
                          "default": 0
                        },
                        "payment_amount": {},
                        "payment_address": {},
                        "payment_currency": {},
                        "initialized_currency": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "merchant": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 10,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Appstate"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Transactions"
        ]
      }
    },
    "/transaction/{transaction_id}/pay": {
      "post": {
        "summary": "Initiate a payment",
        "description": "Assigns a payment currency, locks the rate, and returns the wallet address, exact crypto amount and a QR code. Moves the transaction to `PENDING`, which starts the 60-minute expiry window.",
        "operationId": "initiate-transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency_id": {
                    "type": "string",
                    "description": "Tether : 3, Bitcoin : 4, Quidax Token: 5, Ethereum: 6, Litecoin: 7."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"qrCode\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAAThSURBVO3BQY4bSRAEwfAC//9l3znmqYBGJ6VZIczwR6qWnFQtOqladFK16KRq0UnVopOqRSdVi06qFp1ULTqpWnRSteikatFJ1aKTqkUnVYs+eQnIn6RmE5BJzRNAnlAzAZnUTED+JDVvnFQtOqladFK16JNlajYBeQPIjZobIJOaSc0bap5QswnIppOqRSdVi06qFn3yZUCeUPMEkEnNpGYCMgG5UTMBeULNNwF5Qs03nVQtOqladFK16JN/HJBJzQ2QCcikZgIyqZmATGomIJOa/7OTqkUnVYtOqhZ98o9T84SaGyA3QJ5Q8y85qVp0UrXopGrRJ1+m5m8CMql5Asik5gkg36TmNzmpWnRSteikatEny4D8nwCZ1DwBZFLzBJBJzQ2Q3+ykatFJ1aKTqkX4I/9jQCY1E5A31ExAJjVPAJnU/EtOqhadVC06qVr0yUtAJjUTkE1qJjUTkEnNDZAbIG8AmdRMQCY1E5BNar7ppGrRSdWik6pF+CN/EZBJzQ2QSc0NkBs1TwC5UfMGkBs1E5BJzQ2QGzVvnFQtOqladFK16JMvAzKpuQHyBpBJzQTkDTVvAHlCzY2aCciNmm86qVp0UrXopGrRJy8BuVEzAZnUPAHkRs0bQN5Qc6PmBsgNkCfUTEBu1LxxUrXopGrRSdWiT34ZIDdqboA8AWRScwPkCSCTmgnIpOZGzRtqvumkatFJ1aKTqkWf/GFqJiA3ap5Q8wSQGyA3aiYgT6h5AsgTam6ATGreOKladFK16KRqEf7IIiA3ap4AMqm5ATKpmYBMap4AcqPmBsikZgLyhJoJyKRmAjKp2XRSteikatFJ1aJPlqm5ATKpuVEzAXkCyKTmBsik5kbNBORGzRtqJiCTmr/ppGrRSdWik6pF+CMvAJnUTEAmNTdAbtRMQG7UTEAmNTdAJjVvALlRcwNkUjMBeUPNGydVi06qFp1ULfrkl1MzAZnUTEBu1ExAJjWTmgnIpOYGyBNAJjWTmgnIjZobIJtOqhadVC06qVr0yV8GZFIzAZnU/CZAJjWTmgnIpOYGyBtAJjWTmk0nVYtOqhadVC365JcBMqmZgDwB5EbNBGRSc6NmAjKpmdRMQCY1N2pugExqJiCTmk0nVYtOqhadVC365MvUTEAmNTdAJjU3QCY1N0AmNROQGyCTmgnIE0BugNyomYD8SSdVi06qFp1ULcIf+R8DMqn5JiA3am6A3Kh5Asik5gkgk5o3TqoWnVQtOqla9MlLQP4kNZOaGyBPqJmATGqeADKpmYDcAJnU3ACZ1ExAJjWbTqoWnVQtOqla9MkyNZuA3AC5UTMBeULNBOQNIE+oeULN33RSteikatFJ1aJPvgzIE2reUDMBmdRMQN5Q8waQCcgbQG7UTEAmNW+cVC06qVp0UrXok38MkL8JyKTmRs0TQCY1TwCZ1Gw6qVp0UrXopGrRJ/84NROQSc0E5Akgk5obIJOaJ9RMQH6Tk6pFJ1WLTqoWffJlar5JzSY1E5AbNROQSc2k5pvU3AD5ppOqRSdVi06qFn2yDMifBGRSc6NmAnKjZgIyAZnUTEBu1ExAbtTcALlR800nVYtOqhadVC3CH6laclK16KRq0UnVopOqRSdVi06qFp1ULTqpWnRSteikatFJ1aKTqkUnVYtOqhadVC36D4yuQj9aZj6fAAAAAElFTkSuQmCC\",\n    \"id\": 118,\n    \"reference\": \"bq_J7WCL-EC4G3OhJUyK\",\n    \"amount_paid\": null,\n    \"status\": \"PENDING\",\n    \"description\": null,\n    \"initialized_amount\": 1000,\n    \"payment_amount\": 1.74342681,\n    \"payment_address\": \"0x6cE7a3093fD6FF69B26B8bEC1d7dA4BE07998d01\",\n    \"payment_currency\": 3,\n    \"initialized_currency\": 2,\n    \"merchant\": {\n      \"id\": 10,\n      \"name\": \"Appstate\"\n    }\n  },\n  \"meta\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "qrCode": {
                          "type": "string",
                          "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJQAAACUCAYAAAB1PADUAAAAAklEQVR4AewaftIAAAThSURBVO3BQY4bSRAEwfAC//9l3znmqYBGJ6VZIczwR6qWnFQtOqladFK16KRq0UnVopOqRSdVi06qFp1ULTqpWnRSteikatFJ1aKTqkUnVYs+eQnIn6RmE5BJzRNAnlAzAZnUTED+JDVvnFQtOqladFK16JNlajYBeQPIjZobIJOaSc0bap5QswnIppOqRSdVi06qFn3yZUCeUPMEkEnNpGYCMgG5UTMBeULNNwF5Qs03nVQtOqladFK16JN/HJBJzQ2QCcikZgIyqZmATGomIJOa/7OTqkUnVYtOqhZ98o9T84SaGyA3QJ5Q8y85qVp0UrXopGrRJ1+m5m8CMql5Asik5gkg36TmNzmpWnRSteikatEny4D8nwCZ1DwBZFLzBJBJzQ2Q3+ykatFJ1aKTqkX4I/9jQCY1E5A31ExAJjVPAJnU/EtOqhadVC06qVr0yUtAJjUTkE1qJjUTkEnNDZAbIG8AmdRMQCY1E5BNar7ppGrRSdWik6pF+CN/EZBJzQ2QSc0NkBs1TwC5UfMGkBs1E5BJzQ2QGzVvnFQtOqladFK16JMvAzKpuQHyBpBJzQTkDTVvAHlCzY2aCciNmm86qVp0UrXopGrRJy8BuVEzAZnUPAHkRs0bQN5Qc6PmBsgNkCfUTEBu1LxxUrXopGrRSdWiT34ZIDdqboA8AWRScwPkCSCTmgnIpOZGzRtqvumkatFJ1aKTqkWf/GFqJiA3ap5Q8wSQGyA3aiYgT6h5AsgTam6ATGreOKladFK16KRqEf7IIiA3ap4AMqm5ATKpmYBMap4AcqPmBsikZgLyhJoJyKRmAjKp2XRSteikatFJ1aJPlqm5ATKpuVEzAXkCyKTmBsik5kbNBORGzRtqJiCTmr/ppGrRSdWik6pF+CMvAJnUTEAmNTdAbtRMQG7UTEAmNTdAJjVvALlRcwNkUjMBeUPNGydVi06qFp1ULfrkl1MzAZnUTEBu1ExAJjWTmgnIpOYGyBNAJjWTmgnIjZobIJtOqhadVC06qVr0yV8GZFIzAZnU/CZAJjWTmgnIpOYGyBtAJjWTmk0nVYtOqhadVC365JcBMqmZgDwB5EbNBGRSc6NmAjKpmdRMQCY1N2pugExqJiCTmk0nVYtOqhadVC365MvUTEAmNTdAJjU3QCY1N0AmNROQGyCTmgnIE0BugNyomYD8SSdVi06qFp1ULcIf+R8DMqn5JiA3am6A3Kh5Asik5gkgk5o3TqoWnVQtOqla9MlLQP4kNZOaGyBPqJmATGqeADKpmYDcAJnU3ACZ1ExAJjWbTqoWnVQtOqla9MkyNZuA3AC5UTMBeULNBOQNIE+oeULN33RSteikatFJ1aJPvgzIE2reUDMBmdRMQN5Q8waQCcgbQG7UTEAmNW+cVC06qVp0UrXok38MkL8JyKTmRs0TQCY1TwCZ1Gw6qVp0UrXopGrRJ/84NROQSc0E5Akgk5obIJOaJ9RMQH6Tk6pFJ1WLTqoWffJlar5JzSY1E5AbNROQSc2k5pvU3AD5ppOqRSdVi06qFn2yDMifBGRSc6NmAnKjZgIyAZnUTEBu1ExAbtTcALlR800nVYtOqhadVC3CH6laclK16KRq0UnVopOqRSdVi06qFp1ULTqpWnRSteikatFJ1aKTqkUnVYtOqhadVC36D4yuQj9aZj6fAAAAAElFTkSuQmCC"
                        },
                        "id": {
                          "type": "integer",
                          "example": 118,
                          "default": 0
                        },
                        "reference": {
                          "type": "string",
                          "example": "bq_J7WCL-EC4G3OhJUyK"
                        },
                        "amount_paid": {},
                        "status": {
                          "type": "string",
                          "example": "PENDING"
                        },
                        "description": {},
                        "initialized_amount": {
                          "type": "integer",
                          "example": 1000,
                          "default": 0
                        },
                        "payment_amount": {
                          "type": "number",
                          "example": 1.74342681,
                          "default": 0
                        },
                        "payment_address": {
                          "type": "string",
                          "example": "0x6cE7a3093fD6FF69B26B8bEC1d7dA4BE07998d01"
                        },
                        "payment_currency": {
                          "type": "integer",
                          "example": 3,
                          "default": 0
                        },
                        "initialized_currency": {
                          "type": "integer",
                          "example": 2,
                          "default": 0
                        },
                        "merchant": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 10,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Appstate"
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"Validation Error\",\n  \"meta\": {},\n  \"data\": {\n    \"transaction_id\": {\n      \"message\": \"transaction_id must be a number\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation Error"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "transaction_id must be a number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"resource not found\",\n  \"path\": \"/v1/transaction/ccc/pay\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "resource not found"
                    },
                    "path": {
                      "type": "string",
                      "example": "/v1/transaction/ccc/pay"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"The transaction is not initiated\",\n  \"meta\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "The transaction is not initiated"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Transactions"
        ]
      }
    },
    "/transaction/{transaction_id}/status": {
      "get": {
        "summary": "Verify a transaction",
        "description": "Returns the current status of a transaction. Use it when a webhook is delayed or to reconcile \u2014 it supplements webhooks rather than replacing them.",
        "operationId": "verify-transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"status\": \"SUCCESSFUL\"\n  },\n  \"meta\": {}\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "SUCCESSFUL"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"Validation Error\",\n  \"meta\": {},\n  \"data\": {\n    \"transaction_id\": {\n      \"message\": \"transaction_id must be a number\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation Error"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {}
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "transaction_id": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "example": "transaction_id must be a number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Transactions"
        ]
      }
    },
    "/transaction/{transaction_id}/trigger": {
      "post": {
        "summary": "Update a test transaction status",
        "description": "Test mode only. Moves a transaction to `successful`, `overpaid`, `underpaid` or `abandoned` and fires the matching webhook. The exact shape of this endpoint is being confirmed \u2014 see the Testing guide.",
        "operationId": "update-a-transaction-status",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "successful",
                      "underpaid",
                      "abandoned",
                      "overpaid"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Testing"
        ]
      }
    },
    "/transaction/{transaction_id}/webhook": {
      "get": {
        "summary": "Resend a webhook event",
        "description": "Replays the webhook for a transaction. Useful when your endpoint was down.",
        "operationId": "resend-a-webhook-event",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Testing"
        ]
      }
    },
    "/payment-links": {
      "post": {
        "summary": "Create a payment link",
        "description": "Creates a hosted checkout link. Static links carry a fixed amount, dynamic links let the customer enter one. Links are reusable and each use creates a new transaction.",
        "operationId": "create-payment-link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "link_type",
                  "currency"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Display name for the payment link."
                  },
                  "link_type": {
                    "type": "string",
                    "description": "static requires a fixed amount. dynamic lets the customer enter the amount at checkout.",
                    "enum": [
                      "static",
                      "dynamic"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "The fiat currency the payment is priced in. Must be uppercase. Call t",
                    "enum": [
                      "NGN",
                      "USD",
                      "EUR",
                      "GBP"
                    ]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required when link_type is \"static\". Omit or set to null for dynamic links."
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description for the link."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Custom data you want to attach to the link. Returned as-is in responses.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "customer's name",
                        "default": "tunde"
                      },
                      "email": {
                        "type": "string",
                        "description": "customer's email address.",
                        "default": "customer@example.com"
                      }
                    }
                  },
                  "pass_fee_to_customer": {
                    "type": "boolean",
                    "description": "When true, the Basqet processing fee is passed to the customer.",
                    "default": false
                  },
                  "pass_settlement_fee_to_customer": {
                    "type": "boolean",
                    "description": "When true, the settlement fee is passed to the customer.",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Payment Link created\",\n  \"id\": \"bq_pl_aBcDeFgHiJkLmNo\",\n  \"title\": \"Invoice #1024\",\n  \"link_type\": \"static\",\n  \"currency\": \"USD\",\n  \"amount\": 150.0,\n  \"payment_url\": \"https://pay.basqet.com/pl_aBcDeFgHiJkLmNo\",\n  \"metadata\": {\n    \"order_id\": \"order_1024\",\n    \"customer_tier\": \"premium\"\n  },\n  \"created_at\": \"2026-04-22T10:30:00.000Z\",\n  \"last_used\": null,\n  \"deleted_at\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Payment Link created"
                    },
                    "id": {
                      "type": "string",
                      "example": "bq_pl_aBcDeFgHiJkLmNo"
                    },
                    "title": {
                      "type": "string",
                      "example": "Invoice #1024"
                    },
                    "link_type": {
                      "type": "string",
                      "example": "static"
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 150,
                      "default": 0
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.basqet.com/pl_aBcDeFgHiJkLmNo"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "order_id": {
                          "type": "string",
                          "example": "order_1024"
                        },
                        "customer_tier": {
                          "type": "string",
                          "example": "premium"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2026-04-22T10:30:00.000Z"
                    },
                    "last_used": {},
                    "deleted_at": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n  --url https://api.basqet.com/v1/payment-links \\\n  --header 'Authorization: Bearer sec_live_xxxxxxxxxxxxx' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"title\": \"Invoice #1024\",\n    \"link_type\": \"static\",\n    \"currency\": \"USD\",\n    \"amount\": \"150.00\",\n    \"description\": \"Payment for design services\",\n    \"metadata\": {\n      \"order_id\": \"order_1024\",\n      \"customer_tier\": \"premium\"\n    }\n}'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        },
        "tags": [
          "Payment links"
        ]
      },
      "get": {
        "summary": "List payment links",
        "description": "Returns a paginated list of payment links for your merchant account. By default, only active (non-deleted) links are returned. Use the `status` parameter to retrieve archived links.",
        "operationId": "fetch-all-payment-links",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Sort order by creation date.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Filter links created on or after this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Filter links created on or before this date.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "description": "Search links by title or currency code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by link status. `archived` returns deleted links.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived",
                "all"
              ],
              "default": "active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"bq_pl_aBcDeFgHiJkLmNo\",\n      \"title\": \"Invoice #1024\",\n      \"link_type\": \"static\",\n      \"currency\": \"USD\",\n      \"amount\": 150.0,\n      \"payment_url\": \"https://pay.basqet.com/pl_aBcDeFgHiJkLmNo\",\n      \"metadata\": null,\n      \"created_at\": \"2026-04-22T10:30:00.000Z\",\n      \"last_used\": null,\n      \"deleted_at\": null\n    }\n  ],\n  \"meta\": {\n    \"limit\": 20,\n    \"count\": 1,\n    \"hasNext\": false\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "bq_pl_aBcDeFgHiJkLmNo"
                          },
                          "title": {
                            "type": "string",
                            "example": "Invoice #1024"
                          },
                          "link_type": {
                            "type": "string",
                            "example": "static"
                          },
                          "currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "amount": {
                            "type": "integer",
                            "example": 150,
                            "default": 0
                          },
                          "payment_url": {
                            "type": "string",
                            "example": "https://pay.basqet.com/pl_aBcDeFgHiJkLmNo"
                          },
                          "metadata": {},
                          "created_at": {
                            "type": "string",
                            "example": "2026-04-22T10:30:00.000Z"
                          },
                          "last_used": {},
                          "deleted_at": {}
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "integer",
                          "example": 20,
                          "default": 0
                        },
                        "count": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "hasNext": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Payment links"
        ]
      }
    },
    "/payment-links/{id}": {
      "get": {
        "summary": "Get a payment link",
        "description": "Retrieve the details of a single payment link by its ID.",
        "operationId": "get-payment-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the payment link (bq_pl_\u2026).",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"bq_pl_aBcDeFgHiJkLmNo\",\n  \"title\": \"Invoice #1024\",\n  \"link_type\": \"static\",\n  \"currency\": \"USD\",\n  \"amount\": 150.0,\n  \"payment_url\": \"https://pay.basqet.com/pl_aBcDeFgHiJkLmNo\",\n  \"metadata\": null,\n  \"created_at\": \"2026-04-22T10:30:00.000Z\",\n  \"last_used\": null,\n  \"deleted_at\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "bq_pl_aBcDeFgHiJkLmNo"
                    },
                    "title": {
                      "type": "string",
                      "example": "Invoice #1024"
                    },
                    "link_type": {
                      "type": "string",
                      "example": "static"
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 150,
                      "default": 0
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.basqet.com/pl_aBcDeFgHiJkLmNo"
                    },
                    "metadata": {},
                    "created_at": {
                      "type": "string",
                      "example": "2026-04-22T10:30:00.000Z"
                    },
                    "last_used": {},
                    "deleted_at": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Payment links"
        ]
      },
      "patch": {
        "summary": "Update a payment link",
        "description": "Updates one or more fields on an existing payment link. At least one field must be provided.",
        "operationId": "update-a-payment-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the payment link to update",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Updated display name for the payment link."
                  },
                  "link_type": {
                    "type": "string",
                    "description": "Changing to `\"static\"` requires an `amount`. Changing to `\"dynamic\"` clears any existing amount.",
                    "enum": [
                      "static",
                      "dynamic"
                    ]
                  },
                  "currency": {
                    "type": "string",
                    "description": "Updated fiat currency for the link.",
                    "enum": [
                      "NGN",
                      "USD",
                      "EUR",
                      "GBP"
                    ]
                  },
                  "amount": {
                    "type": "string",
                    "description": "Required when changing `link_type` to `\"static\"`. Set to `null` with `\"dynamic\"`."
                  },
                  "description": {
                    "type": "string",
                    "description": "Updated description for the link."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Replaces the existing metadata. Set to `null` to clear.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "customer's name",
                        "default": "tunde"
                      },
                      "email": {
                        "type": "string",
                        "description": "customer's email address.",
                        "default": "customer@example.com"
                      }
                    }
                  },
                  "pass_fee_to_customer": {
                    "type": "boolean",
                    "description": "Update whether the Basqet processing fee is passed to the customer."
                  },
                  "pass_settlement_fee_to_customer": {
                    "type": "boolean",
                    "description": "Update whether the settlement fee is passed to the customer."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"bq_pl_aBcDeFgHiJkLmNo\",\n  \"title\": \"Invoice #1024 (Updated)\",\n  \"link_type\": \"static\",\n  \"currency\": \"USD\",\n  \"amount\": 200.0,\n  \"payment_url\": \"https://pay.basqet.com/pl_aBcDeFgHiJkLmNo\",\n  \"metadata\": null,\n  \"created_at\": \"2026-04-22T10:30:00.000Z\",\n  \"last_used\": null,\n  \"deleted_at\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "bq_pl_aBcDeFgHiJkLmNo"
                    },
                    "title": {
                      "type": "string",
                      "example": "Invoice #1024 (Updated)"
                    },
                    "link_type": {
                      "type": "string",
                      "example": "static"
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 200,
                      "default": 0
                    },
                    "payment_url": {
                      "type": "string",
                      "example": "https://pay.basqet.com/pl_aBcDeFgHiJkLmNo"
                    },
                    "metadata": {},
                    "created_at": {
                      "type": "string",
                      "example": "2026-04-22T10:30:00.000Z"
                    },
                    "last_used": {},
                    "deleted_at": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Payment links"
        ]
      },
      "delete": {
        "summary": "Delete a payment link",
        "description": "Soft-deletes a payment link. Deleted links are no longer accessible to customers and are excluded from your default list view. This action cannot be undone via the API.",
        "operationId": "delete-a-payment-link",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the payment link to delete.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"bq_pl_aBcDeFgHiJkLmNo\",\n  \"status\": \"deleted\",\n  \"deleted_at\": \"2026-04-22T14:00:00.000Z\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "bq_pl_aBcDeFgHiJkLmNo"
                    },
                    "status": {
                      "type": "string",
                      "example": "deleted"
                    },
                    "deleted_at": {
                      "type": "string",
                      "example": "2026-04-22T14:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Payment links"
        ]
      }
    },
    "/wallets/conversions/quotes": {
      "post": {
        "summary": "Create a conversion quote",
        "description": "Quotes a wallet-to-wallet conversion. Quotes last roughly 10 seconds and can only be used once.",
        "operationId": "create-quote",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional. Reusing the same key within the quote window replays the same response for your account and environment.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_currency": {
                    "type": "string",
                    "description": "Currency slug of the wallet to debit.",
                    "enum": [
                      "\"NGN\"",
                      "\"USDT\"",
                      "\"BTC\"",
                      "\"ETH\"",
                      "\"LTC\"",
                      "\"QDX\"",
                      "\"USDC\""
                    ]
                  },
                  "to_currency": {
                    "type": "string",
                    "description": "Currency slug of the wallet to credit. Must be different from `from_currency`.",
                    "enum": [
                      "\"NGN\"",
                      "\"USDT\"",
                      "\"BTC\"",
                      "\"ETH\"",
                      "\"LTC\"",
                      "\"QDX\"",
                      "\"USDC\""
                    ]
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount to convert from your source wallet",
                    "format": "int32"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"quote_id\": \"cq_x9R4mL2pQ8sT7vA\",\n    \"from_currency\": \"NGN\",\n    \"to_currency\": \"USDT\",\n    \"from_amount\": 14000,\n    \"to_amount\": 10,\n    \"exchange_rate\": 0.000714285714285714,\n    \"expires_at\": \"2026-05-15T12:05:30.000Z\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quote_id": {
                          "type": "string",
                          "example": "cq_x9R4mL2pQ8sT7vA"
                        },
                        "from_currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "to_currency": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "from_amount": {
                          "type": "integer",
                          "example": 14000,
                          "default": 0
                        },
                        "to_amount": {
                          "type": "integer",
                          "example": 10,
                          "default": 0
                        },
                        "exchange_rate": {
                          "type": "number",
                          "example": 0.000714285714285714,
                          "default": 0
                        },
                        "expires_at": {
                          "type": "string",
                          "example": "2026-05-15T12:05:30.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Conversions and rates"
        ]
      }
    },
    "/exchange-rates": {
      "post": {
        "summary": "Get an exchange rate",
        "description": "Returns a live rate and equivalent amount for a currency pair. A preview only \u2014 it does not move funds.",
        "operationId": "fetch-exchange-rate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "base_currency": {
                    "type": "string",
                    "description": "Currency slug for the amount you are converting from."
                  },
                  "quote_currency": {
                    "type": "string",
                    "description": "Currency slug for the amount you are converting to."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount denominated in `base_currency`. Strings are accepted when they contain a valid positive number."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"rate_id\": \"rate_p8Mz6BnL3rQx2Va\",\n    \"base_currency\": \"USD\",\n    \"quote_currency\": \"NGN\",\n    \"rate\": 1500,\n    \"base_amount\": 100,\n    \"quote_amount\": 150000,\n    \"expires_at\": \"2026-05-15T12:05:30.000Z\",\n    \"expiry_in_seconds\": 30,\n    \"created_at\": \"2026-05-15T12:05:00.000Z\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "rate_id": {
                          "type": "string",
                          "example": "rate_p8Mz6BnL3rQx2Va"
                        },
                        "base_currency": {
                          "type": "string",
                          "example": "USD"
                        },
                        "quote_currency": {
                          "type": "string",
                          "example": "NGN"
                        },
                        "rate": {
                          "type": "integer",
                          "example": 1500,
                          "default": 0
                        },
                        "base_amount": {
                          "type": "integer",
                          "example": 100,
                          "default": 0
                        },
                        "quote_amount": {
                          "type": "integer",
                          "example": 150000,
                          "default": 0
                        },
                        "expires_at": {
                          "type": "string",
                          "example": "2026-05-15T12:05:30.000Z"
                        },
                        "expiry_in_seconds": {
                          "type": "integer",
                          "example": 30,
                          "default": 0
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2026-05-15T12:05:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Conversions and rates"
        ]
      }
    },
    "/wallets/conversions": {
      "post": {
        "tags": [
          "Conversions and rates"
        ],
        "summary": "Execute a wallet conversion",
        "description": "Executes a conversion using a quote from Create Quote. Quotes expire in roughly 10 seconds and can only be used once. Send an Idempotency-Key so a timed-out request is safe to retry.",
        "operationId": "create-wallet-conversion",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Recommended. Reusing a key returns the cached result for your account and environment.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "quote_id"
                ],
                "properties": {
                  "quote_id": {
                    "type": "string",
                    "description": "Quote identifier from Create Quote.",
                    "examples": [
                      "cq_aBcDeFgHiJkLmNo"
                    ]
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Your own reference. Must be unique for your account."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversion executed."
          },
          "400": {
            "description": "Invalid or expired quote."
          }
        }
      },
      "get": {
        "tags": [
          "Conversions and rates"
        ],
        "summary": "List wallet conversions",
        "description": "Returns your conversion history for reconciliation.",
        "operationId": "list-wallet-conversions",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "reference",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255
            },
            "description": "Filter conversions by your own reference."
          }
        ],
        "responses": {
          "200": {
            "description": "Conversions retrieved."
          }
        }
      }
    }
  }
}