{
  "openapi": "3.1.0",
  "info": {
    "title": "Wallets API",
    "version": "3.0",
    "description": "Create and manage crypto and fiat wallets for your users, move funds in and out, and trade."
  },
  "servers": [
    {
      "url": "https://openapi.quidax.io/exchange-open-api/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Sub-accounts",
      "description": "Create and manage an account per user."
    },
    {
      "name": "Wallets and addresses",
      "description": "Balances and blockchain addresses."
    },
    {
      "name": "Deposits",
      "description": "Incoming funds."
    },
    {
      "name": "Withdrawals",
      "description": "Outgoing funds, on-chain, internal or to a bank."
    },
    {
      "name": "Orders",
      "description": "Place and manage order book orders."
    },
    {
      "name": "Swap",
      "description": "Quote and execute instant swaps."
    },
    {
      "name": "Markets",
      "description": "Market data and recent trades."
    },
    {
      "name": "Fees",
      "description": "Withdrawal fee rules."
    },
    {
      "name": "Trades",
      "description": "Executed trades, yours and the market's."
    }
  ],
  "security": [
    {
      "secretKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "secretKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your Quidax secret key. Reaches every sub-account in your tree, including withdrawals \u2014 server-side only."
      }
    }
  },
  "paths": {
    "/users/{user_id}/deposits/{deposit_id}": {
      "get": {
        "summary": "Fetch a deposit",
        "description": "Get details of a deposits.",
        "operationId": "deposits-1",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The User ID. Use 'me' if fetching wallets of main authenticated user, use the user_id if fetching for Sub-account linked to the authenticated user.",
            "schema": {
              "type": "string",
              "default": "me"
            },
            "required": true
          },
          {
            "name": "deposit_id",
            "in": "path",
            "description": "An ID for the deposit to fetch",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": {\n    \"id\": \"a46bb02a55e54b0da91a69c3cd6b3309\",\n    \"type\": \"coin_address\",\n    \"currency\": \"USDT\",\n    \"amount\": \"1.0000000000000000\",\n    \"fee\": \"0.0000000000000000\",\n    \"txid\": \"0x009f3ae59ef9b1efcca3d5724051fcfdb4543ba81c70b9ad397f3eafe44c7042\",\n    \"status\": \"accepted\",\n    \"reason\": null,\n    \"wallet\": {\n      \"id\": \"206735f39627480d820912cbf8c50a95\",\n      \"name\": \"USDT\",\n      \"currency\": \"usdt\",\n      \"balance\": \"4.726900\",\n      \"locked\": \"0.0000000000\",\n      \"staked\": \"0.0000000000\",\n      \"user\": {\n        \"id\": \"24rhpmow\",\n        \"sn\": \"Qw1os7uj7\",\n        \"email\": \"jolalekan+merchant@quidax.com\",\n        \"reference\": null,\n        \"first_name\": \"test\",\n        \"last_name\": \"tester\",\n        \"display_name\": \"Adigun Efon Exchange\",\n        \"created_at\": \"2026-02-09T13:22:14.000Z\",\n        \"updated_at\": \"2026-02-13T10:45:42.000Z\"\n      },\n      \"converted_balance\": \"6595.207225\",\n      \"reference_currency\": \"NGN\",\n      \"is_crypto\": true,\n      \"created_at\": \"2026-02-10T11:48:38.000Z\",\n      \"updated_at\": \"2026-02-13T09:55:03.000Z\",\n      \"blockchain_enabled\": true,\n      \"default_network\": \"bep20\",\n      \"networks\": [\n        {\n          \"id\": \"bep20\",\n          \"name\": \"Binance Smart Chain\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"polygon\",\n          \"name\": \"Polygon Network\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"trc20\",\n          \"name\": \"Tron Network\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"erc20\",\n          \"name\": \"Ethereum Network\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"solana\",\n          \"name\": \"Solana Network\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"ton network\",\n          \"name\": \"Ton Network\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"celo\",\n          \"name\": \"CELO\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"optimism\",\n          \"name\": \"OP Mainnet\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        },\n        {\n          \"id\": \"arbitrum\",\n          \"name\": \"Arbitrum One\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": false\n        },\n        {\n          \"id\": \"lisk\",\n          \"name\": \"LISK\",\n          \"deposits_enabled\": true,\n          \"withdraws_enabled\": true\n        }\n      ],\n      \"deposit_address\": \"bc1qel75acv9tdwqdx86tla6yyxagp2fvq2tntxntp\",\n      \"destination_tag\": null\n    },\n    \"user\": {\n      \"id\": \"24rhpmow\",\n      \"sn\": \"Qw1os7uj7\",\n      \"email\": \"jolalekan+merchant@quidax.com\",\n      \"reference\": null,\n      \"first_name\": \"test\",\n      \"last_name\": \"tester\",\n      \"display_name\": \"Adigun Efon Exchange\",\n      \"created_at\": \"2026-02-09T13:22:14.000Z\",\n      \"updated_at\": \"2026-02-13T10:45:42.000Z\"\n    },\n    \"created_at\": \"2026-02-10T11:48:57Z\",\n    \"done_at\": null,\n    \"payment_transaction\": {\n      \"status\": \"confirmed\",\n      \"confirmations\": 1,\n      \"required_confirmations\": 1\n    },\n    \"payment_address\": {\n      \"id\": \"5aa8fa21383743a1b9a0bdb3b00ad8cd\",\n      \"reference\": null,\n      \"currency\": \"USDT\",\n      \"address\": \"0xf145464EB467582b4dE10B20edAff9F164F42d06\",\n      \"network\": null,\n      \"user\": null,\n      \"destination_tag\": null,\n      \"total_payments\": \"4.0000000010000000\",\n      \"created_at\": \"2026-02-10T11:35:12.000Z\",\n      \"updated_at\": \"2026-02-10T11:35:12.000Z\"\n    }\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "a46bb02a55e54b0da91a69c3cd6b3309"
                        },
                        "type": {
                          "type": "string",
                          "example": "coin_address"
                        },
                        "currency": {
                          "type": "string",
                          "example": "USDT"
                        },
                        "amount": {
                          "type": "string",
                          "example": "1.0000000000000000"
                        },
                        "fee": {
                          "type": "string",
                          "example": "0.0000000000000000"
                        },
                        "txid": {
                          "type": "string",
                          "example": "0x009f3ae59ef9b1efcca3d5724051fcfdb4543ba81c70b9ad397f3eafe44c7042"
                        },
                        "status": {
                          "type": "string",
                          "example": "accepted"
                        },
                        "reason": {},
                        "wallet": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "206735f39627480d820912cbf8c50a95"
                            },
                            "name": {
                              "type": "string",
                              "example": "USDT"
                            },
                            "currency": {
                              "type": "string",
                              "example": "usdt"
                            },
                            "balance": {
                              "type": "string",
                              "example": "4.726900"
                            },
                            "locked": {
                              "type": "string",
                              "example": "0.0000000000"
                            },
                            "staked": {
                              "type": "string",
                              "example": "0.0000000000"
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "24rhpmow"
                                },
                                "sn": {
                                  "type": "string",
                                  "example": "Qw1os7uj7"
                                },
                                "email": {
                                  "type": "string",
                                  "example": "jolalekan+merchant@quidax.com"
                                },
                                "reference": {},
                                "first_name": {
                                  "type": "string",
                                  "example": "test"
                                },
                                "last_name": {
                                  "type": "string",
                                  "example": "tester"
                                },
                                "display_name": {
                                  "type": "string",
                                  "example": "Adigun Efon Exchange"
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2026-02-09T13:22:14.000Z"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2026-02-13T10:45:42.000Z"
                                }
                              }
                            },
                            "converted_balance": {
                              "type": "string",
                              "example": "6595.207225"
                            },
                            "reference_currency": {
                              "type": "string",
                              "example": "NGN"
                            },
                            "is_crypto": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2026-02-10T11:48:38.000Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2026-02-13T09:55:03.000Z"
                            },
                            "blockchain_enabled": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "default_network": {
                              "type": "string",
                              "example": "bep20"
                            },
                            "networks": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "bep20"
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Binance Smart Chain"
                                  },
                                  "deposits_enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  },
                                  "withdraws_enabled": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            },
                            "deposit_address": {
                              "type": "string",
                              "example": "bc1qel75acv9tdwqdx86tla6yyxagp2fvq2tntxntp"
                            },
                            "destination_tag": {}
                          }
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "24rhpmow"
                            },
                            "sn": {
                              "type": "string",
                              "example": "Qw1os7uj7"
                            },
                            "email": {
                              "type": "string",
                              "example": "jolalekan+merchant@quidax.com"
                            },
                            "reference": {},
                            "first_name": {
                              "type": "string",
                              "example": "test"
                            },
                            "last_name": {
                              "type": "string",
                              "example": "tester"
                            },
                            "display_name": {
                              "type": "string",
                              "example": "Adigun Efon Exchange"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2026-02-09T13:22:14.000Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2026-02-13T10:45:42.000Z"
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2026-02-10T11:48:57Z"
                        },
                        "done_at": {},
                        "payment_transaction": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "confirmed"
                            },
                            "confirmations": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "required_confirmations": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            }
                          }
                        },
                        "payment_address": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "5aa8fa21383743a1b9a0bdb3b00ad8cd"
                            },
                            "reference": {},
                            "currency": {
                              "type": "string",
                              "example": "USDT"
                            },
                            "address": {
                              "type": "string",
                              "example": "0xf145464EB467582b4dE10B20edAff9F164F42d06"
                            },
                            "network": {},
                            "user": {},
                            "destination_tag": {},
                            "total_payments": {
                              "type": "string",
                              "example": "4.0000000010000000"
                            },
                            "created_at": {
                              "type": "string",
                              "example": "2026-02-10T11:35:12.000Z"
                            },
                            "updated_at": {
                              "type": "string",
                              "example": "2026-02-10T11:35:12.000Z"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"Deposit with ID: 'nnbvn' doesn't exist.\",\n  \"data\": {\n    \"code\": \"E0204\",\n    \"message\": \"Deposit with ID: 'nnbvn' doesn't exist.\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Deposit with ID: 'nnbvn' doesn't exist."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E0204"
                        },
                        "message": {
                          "type": "string",
                          "example": "Deposit with ID: 'nnbvn' doesn't exist."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Deposits"
        ]
      }
    },
    "/users/deposits/all": {
      "get": {
        "summary": "Fetch deposits across all sub-accounts",
        "description": "Fetch all deposits made by sub-users.",
        "operationId": "fetch-all-deposits-1",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Allowed Currencies values: usdt, btc, ltc, eth, xrp, usdt, dash, trx, doge, xrp, bnb, matic, shib, axs, safemoon, cake, xlm, aave, link.",
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "usdt",
                "eth",
                "xaut",
                "usat",
                "xrp",
                "dash",
                "ltc",
                "trx",
                "doge",
                "bnb",
                "pol",
                "usdc",
                "aave",
                "shib",
                "link",
                "cake",
                "xlm",
                "ada",
                "bch",
                "floki",
                "sol",
                "cfx",
                "ton",
                "sui",
                "zk",
                "lsk",
                "axcnh",
                "qdx",
                "cngn"
              ],
              "default": "btc"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Allowed State values: submitting, canceled, submitted, rejected, failed, accepted, checked.",
            "schema": {
              "type": "string",
              "enum": [
                "submitting",
                "canceled",
                "submitted",
                "rejected",
                "failed",
                "accepted",
                "checked."
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "A timestamp from which to start listing transaction, e.g. 2017-09-24T00:00:05.000Z, 2017-09-21",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "A timestamp at which to stop listing transaction e.g. 2017-09-24T00:00:05.000Z, 2017-09-21",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": [\n    {\n      \"id\": \"757e7bd0790b4945abf2d0dc714256fc\",\n      \"type\": \"coin_address\",\n      \"currency\": \"USDT\",\n      \"amount\": \"1.0000000000000000\",\n      \"fee\": \"0.0000000000000000\",\n      \"txid\": \"0x0b88a4bde5bbb44da361b9012f7fa42afbf5052dd86f467681567053e140f2e5\",\n      \"status\": \"accepted\",\n      \"reason\": null,\n      \"wallet\": {\n        \"id\": \"4dd376f662844dce82cd8638af35f908\",\n        \"name\": \"USDT\",\n        \"currency\": \"usdt\",\n        \"balance\": \"1.000000\",\n        \"locked\": \"0.0000000000\",\n        \"staked\": \"0.0000000000\",\n        \"user\": {\n          \"id\": \"okbj9k38\",\n          \"sn\": \"Qvp1qdic2\",\n          \"email\": \"test2@gmail.com\",\n          \"reference\": null,\n          \"first_name\": \"test\",\n          \"last_name\": \"testerf\",\n          \"display_name\": null,\n          \"created_at\": \"2026-02-13T10:41:07.000Z\",\n          \"updated_at\": \"2026-02-13T10:47:55.000Z\"\n        },\n        \"converted_balance\": \"1.000000\",\n        \"reference_currency\": \"USDT\",\n        \"is_crypto\": true,\n        \"created_at\": \"2026-02-18T16:36:32.000Z\",\n        \"updated_at\": \"2026-02-18T16:36:33.000Z\",\n        \"blockchain_enabled\": true,\n        \"default_network\": \"bep20\",\n        \"networks\": [\n          {\n            \"id\": \"bep20\",\n            \"name\": \"Binance Smart Chain\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"polygon\",\n            \"name\": \"Polygon Network\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"trc20\",\n            \"name\": \"Tron Network\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"erc20\",\n            \"name\": \"Ethereum Network\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"solana\",\n            \"name\": \"Solana Network\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"ton network\",\n            \"name\": \"Ton Network\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"celo\",\n            \"name\": \"CELO\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"optimism\",\n            \"name\": \"OP Mainnet\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          },\n          {\n            \"id\": \"arbitrum\",\n            \"name\": \"Arbitrum One\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": false\n          },\n          {\n            \"id\": \"lisk\",\n            \"name\": \"LISK\",\n            \"deposits_enabled\": true,\n            \"withdraws_enabled\": true\n          }\n        ],\n        \"deposit_address\": \"bc1qfdzr0gsfxjpe8ah46t6npk0eyhq2p5047dnj0z\",\n        \"destination_tag\": null\n      },\n      \"user\": {\n        \"id\": \"okbj9k38\",\n        \"sn\": \"Qvp1qdic2\",\n        \"email\": \"test2@gmail.com\",\n        \"reference\": null,\n        \"first_name\": \"test\",\n        \"last_name\": \"testerf\",\n        \"display_name\": null,\n        \"created_at\": \"2026-02-13T10:41:07.000Z\",\n        \"updated_at\": \"2026-02-13T10:47:55.000Z\"\n      },\n      \"created_at\": \"2026-02-18T16:36:30Z\",\n      \"done_at\": null,\n      \"payment_transaction\": {\n        \"status\": \"confirmed\",\n        \"confirmations\": 1,\n        \"required_confirmations\": 1\n      },\n      \"payment_address\": {\n        \"id\": \"66afede22eea49508253215e0c136a74\",\n        \"reference\": null,\n        \"currency\": \"USDT\",\n        \"address\": \"0xcf15f42f933DFBB724AC3e70Edb4Fb11d6Fc4691\",\n        \"network\": null,\n        \"user\": null,\n        \"destination_tag\": null,\n        \"total_payments\": \"1.0000000000000000\",\n        \"created_at\": \"2026-02-18T16:30:42.000Z\",\n        \"updated_at\": \"2026-02-18T16:30:42.000Z\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "757e7bd0790b4945abf2d0dc714256fc"
                          },
                          "type": {
                            "type": "string",
                            "example": "coin_address"
                          },
                          "currency": {
                            "type": "string",
                            "example": "USDT"
                          },
                          "amount": {
                            "type": "string",
                            "example": "1.0000000000000000"
                          },
                          "fee": {
                            "type": "string",
                            "example": "0.0000000000000000"
                          },
                          "txid": {
                            "type": "string",
                            "example": "0x0b88a4bde5bbb44da361b9012f7fa42afbf5052dd86f467681567053e140f2e5"
                          },
                          "status": {
                            "type": "string",
                            "example": "accepted"
                          },
                          "reason": {},
                          "wallet": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "4dd376f662844dce82cd8638af35f908"
                              },
                              "name": {
                                "type": "string",
                                "example": "USDT"
                              },
                              "currency": {
                                "type": "string",
                                "example": "usdt"
                              },
                              "balance": {
                                "type": "string",
                                "example": "1.000000"
                              },
                              "locked": {
                                "type": "string",
                                "example": "0.0000000000"
                              },
                              "staked": {
                                "type": "string",
                                "example": "0.0000000000"
                              },
                              "user": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "example": "okbj9k38"
                                  },
                                  "sn": {
                                    "type": "string",
                                    "example": "Qvp1qdic2"
                                  },
                                  "email": {
                                    "type": "string",
                                    "example": "test2@gmail.com"
                                  },
                                  "reference": {},
                                  "first_name": {
                                    "type": "string",
                                    "example": "test"
                                  },
                                  "last_name": {
                                    "type": "string",
                                    "example": "testerf"
                                  },
                                  "display_name": {},
                                  "created_at": {
                                    "type": "string",
                                    "example": "2026-02-13T10:41:07.000Z"
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "example": "2026-02-13T10:47:55.000Z"
                                  }
                                }
                              },
                              "converted_balance": {
                                "type": "string",
                                "example": "1.000000"
                              },
                              "reference_currency": {
                                "type": "string",
                                "example": "USDT"
                              },
                              "is_crypto": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2026-02-18T16:36:32.000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2026-02-18T16:36:33.000Z"
                              },
                              "blockchain_enabled": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "default_network": {
                                "type": "string",
                                "example": "bep20"
                              },
                              "networks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "bep20"
                                    },
                                    "name": {
                                      "type": "string",
                                      "example": "Binance Smart Chain"
                                    },
                                    "deposits_enabled": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    },
                                    "withdraws_enabled": {
                                      "type": "boolean",
                                      "example": true,
                                      "default": true
                                    }
                                  }
                                }
                              },
                              "deposit_address": {
                                "type": "string",
                                "example": "bc1qfdzr0gsfxjpe8ah46t6npk0eyhq2p5047dnj0z"
                              },
                              "destination_tag": {}
                            }
                          },
                          "user": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "okbj9k38"
                              },
                              "sn": {
                                "type": "string",
                                "example": "Qvp1qdic2"
                              },
                              "email": {
                                "type": "string",
                                "example": "test2@gmail.com"
                              },
                              "reference": {},
                              "first_name": {
                                "type": "string",
                                "example": "test"
                              },
                              "last_name": {
                                "type": "string",
                                "example": "testerf"
                              },
                              "display_name": {},
                              "created_at": {
                                "type": "string",
                                "example": "2026-02-13T10:41:07.000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2026-02-13T10:47:55.000Z"
                              }
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2026-02-18T16:36:30Z"
                          },
                          "done_at": {},
                          "payment_transaction": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "example": "confirmed"
                              },
                              "confirmations": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "required_confirmations": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              }
                            }
                          },
                          "payment_address": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "66afede22eea49508253215e0c136a74"
                              },
                              "reference": {},
                              "currency": {
                                "type": "string",
                                "example": "USDT"
                              },
                              "address": {
                                "type": "string",
                                "example": "0xcf15f42f933DFBB724AC3e70Edb4Fb11d6Fc4691"
                              },
                              "network": {},
                              "user": {},
                              "destination_tag": {},
                              "total_payments": {
                                "type": "string",
                                "example": "1.0000000000000000"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2026-02-18T16:30:42.000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2026-02-18T16:30:42.000Z"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "invalid currency": {
                    "value": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid currency: usdtb\",\n  \"data\": {\n    \"code\": \"110112\",\n    \"message\": \"Invalid currency: usdtb\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid currency: usdtb"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "110112"
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid currency: usdtb"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Deposits"
        ]
      }
    },
    "/users/me/fee_rule": {
      "get": {
        "summary": "Get withdrawal fees",
        "description": "Get a withdrawal fee for a specific currency.",
        "operationId": "get-crypto-withdrawal-fees",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Allowed Currencies values: usdc, busd, btc, ltc, eth, xrp, usdt, dash, trx, doge, xrp, bnb, matic, shib, axs, safemoon, cake, xlm, aave, link.",
            "schema": {
              "type": "string",
              "enum": [
                "btc",
                "usdt",
                "eth",
                "xaut",
                "usat",
                "xrp",
                "dash",
                "ltc",
                "trx",
                "doge",
                "bnb",
                "pol",
                "usdc",
                "aave",
                "shib",
                "dot",
                "link",
                "cake",
                "xlm",
                "axs",
                "fil",
                "babydoge",
                "ada",
                "one",
                "bch",
                "xtz",
                "sushi",
                "zil",
                "floki",
                "sol",
                "mana",
                "sand",
                "enj",
                "lrc",
                "cfx",
                "ape",
                "wld",
                "meme",
                "ens",
                "arb",
                "myro",
                "magatrump",
                "jup",
                "blur",
                "coq",
                "fet",
                "ai",
                "bob",
                "bome",
                "ton",
                "mog",
                "inj",
                "mnt",
                "beam",
                "mew",
                "gno",
                "waves",
                "trump",
                "pnut",
                "wlfi",
                "zk",
                "lsk",
                "axcnh",
                "qdx",
                "cngn"
              ],
              "default": "btc"
            },
            "required": true
          },
          {
            "name": "network",
            "in": "path",
            "description": "Allowed Network: trc20, erc20, and bep20.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "amount",
            "in": "path",
            "description": "Amount to be withdrawn",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": {\n    \"fee\": 0.0001,\n    \"type\": \"flat\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fee": {
                          "type": "number",
                          "example": 0.0001,
                          "default": 0
                        },
                        "type": {
                          "type": "string",
                          "example": "flat"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Fees"
        ]
      }
    },
    "/markets/tickers/{market}": {
      "get": {
        "summary": "Fetch a market ticker",
        "description": "Returns the market ticker for a specific market.",
        "operationId": "fetch-a-market-ticker",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "The market symbol used to fetch the current price.",
            "schema": {
              "type": "string",
              "enum": [
                "btcngn",
                "usdtngn",
                "ethngn",
                "xautngn",
                "usdcngn",
                "trxngn",
                "dashngn",
                "ltcngn",
                "xrpngn",
                "solngn",
                "qdxngn",
                "btcusdt",
                "ethusdt",
                "xautusdt",
                "trxusdt",
                "usdcusdt",
                "bnbusdt",
                "dogeusdt",
                "usatusdt",
                "ltcusdt",
                "linkusdt",
                "polusdt",
                "xrpusdt",
                "dotusdt",
                "aaveusdt",
                "dashusdt",
                "shibusdt",
                "xlmusdt",
                "cakeusdt",
                "adausdt",
                "bchusdt",
                "slpusdt",
                "flokiusdt",
                "solusdt",
                "cfxusdt",
                "pepeusdt",
                "bonkusdt",
                "algousdt",
                "wifusdt",
                "tonusdt",
                "rndrusdt",
                "xyousdt",
                "hypeusdt",
                "fartcoinusdt",
                "cngnngn",
                "suiusdt",
                "usdtghs",
                "lskusdt",
                "axcnhusdt",
                "axcnhngn",
                "usdtcngn",
                "qdxusdt",
                "usdtxaf",
                "usdtxof",
                "usdtzar",
                "usdtkes",
                "axsusdt",
                "filusdt",
                "babydogeusdt",
                "oneusdt",
                "xtzusdt",
                "sushiusdt",
                "zilusdt",
                "manausdt",
                "sandusdt",
                "apeusdt",
                "enjusdt",
                "lrcusdt",
                "wldusdt",
                "memeusdt",
                "ordiusdt",
                "ensusdt",
                "arbusdt",
                "myrousdt",
                "magatrumpusdt",
                "jupusdt",
                "blurusdt",
                "coqusdt",
                "fetusdt",
                "aiusdt",
                "bobusdt",
                "bomeusdt",
                "stxusdt",
                "mogusdt",
                "injusdt",
                "mntusdt",
                "beamusdt",
                "mewusdt",
                "gnousdt",
                "wavesusdt",
                "trumpusdt",
                "pnutusdt",
                "ethghs",
                "etcusdt",
                "ethbtc",
                "ltcbtc",
                "bchbtc",
                "cngnusdt",
                "watsonusdt",
                "wlfiusdt",
                "usdtusd",
                "btcghs",
                "nochillusdt",
                "katausdt",
                "slerfusdt",
                "nosusdt",
                "nearusdt",
                "strkusdt",
                "zkusdt",
                "susdt"
              ],
              "default": "btcngn"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"status\": \"success\",\n\t\"message\": \"Successful\",\n\t\"data\": {\n\t\t\"btcngn\": {\n\t\t\t\"ticker\": {\n\t\t\t\t\"high\": \"10000000\",\n\t\t\t\t\"vol\": \"874.31737149\",\n\t\t\t\t\"last\": 10000000.0000000000000000,\n\t\t\t\t\"low\": \"10000000\",\n\t\t\t\t\"buy\": 90419109,\n\t\t\t\t\"sell\": 90600129,\n\t\t\t\t\"open\": \"10000000\"\n\t\t\t},\n\t\t\t\"at\": 1784998695000\n\t\t}\n\t}\n}"
                  },
                  "invalid market": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": {}\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "success"
                        },
                        "message": {
                          "type": "string",
                          "example": "Successful"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "btcngn": {
                              "type": "object",
                              "properties": {
                                "ticker": {
                                  "type": "object",
                                  "properties": {
                                    "high": {
                                      "type": "string",
                                      "example": "10000000"
                                    },
                                    "vol": {
                                      "type": "string",
                                      "example": "874.31737149"
                                    },
                                    "last": {
                                      "type": "integer",
                                      "example": 10000000,
                                      "default": 0
                                    },
                                    "low": {
                                      "type": "string",
                                      "example": "10000000"
                                    },
                                    "buy": {
                                      "type": "integer",
                                      "example": 90419109,
                                      "default": 0
                                    },
                                    "sell": {
                                      "type": "integer",
                                      "example": 90600129,
                                      "default": 0
                                    },
                                    "open": {
                                      "type": "string",
                                      "example": "10000000"
                                    }
                                  }
                                },
                                "at": {
                                  "type": "integer",
                                  "example": 1784998695000,
                                  "default": 0
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "title": "invalid market",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "success"
                        },
                        "message": {
                          "type": "string",
                          "example": "Successful"
                        },
                        "data": {
                          "type": "object",
                          "properties": {}
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{currency}/depth": {
      "get": {
        "summary": "Fetch depth data for a market",
        "description": "Get depth or specified market. Both asks and bids are sorted from highest price to lowest.",
        "operationId": "fetch-depth-data-for-a-market",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Allowed Currencies values: qdxusdt, btcusdt, btcngn, ethngn, qdxngn, xrpngn, dashngn, ltcngn, usdtngn, btcghs, usdtghs, trxngn, dogeusdt, bnbusdt, maticusdt, safemoonusdt, aaveusdt, shibusdt, dotusdt, linkusdt, cakeusdt, xlmusdt, xrpusdt, ltcusdt, ethusdt, trxusdt, axsusdt, wsgusdt, afenusdt, blsusdt, dashusdt.",
            "schema": {
              "type": "string",
              "enum": [
                "btcngn",
                "usdtngn",
                "ethngn",
                "xautngn",
                "usdcngn",
                "trxngn",
                "dashngn",
                "ltcngn",
                "xrpngn",
                "solngn",
                "qdxngn",
                "btcusdt",
                "ethusdt",
                "xautusdt",
                "trxusdt",
                "usdcusdt",
                "bnbusdt",
                "dogeusdt",
                "usatusdt",
                "ltcusdt",
                "linkusdt",
                "polusdt",
                "xrpusdt",
                "dotusdt",
                "aaveusdt",
                "dashusdt",
                "shibusdt",
                "xlmusdt",
                "cakeusdt",
                "adausdt",
                "bchusdt",
                "slpusdt",
                "flokiusdt",
                "solusdt",
                "cfxusdt",
                "pepeusdt",
                "bonkusdt",
                "algousdt",
                "wifusdt",
                "tonusdt",
                "rndrusdt",
                "xyousdt",
                "hypeusdt",
                "fartcoinusdt",
                "cngnngn",
                "suiusdt",
                "usdtghs",
                "lskusdt",
                "axcnhusdt",
                "axcnhngn",
                "usdtcngn",
                "qdxusdt",
                "usdtxaf",
                "usdtxof",
                "usdtzar",
                "usdtkes",
                "axsusdt",
                "filusdt",
                "babydogeusdt",
                "oneusdt",
                "xtzusdt",
                "sushiusdt",
                "zilusdt",
                "manausdt",
                "sandusdt",
                "apeusdt",
                "enjusdt",
                "lrcusdt",
                "wldusdt",
                "memeusdt",
                "ordiusdt",
                "ensusdt",
                "arbusdt",
                "myrousdt",
                "magatrumpusdt",
                "jupusdt",
                "blurusdt",
                "coqusdt",
                "fetusdt",
                "aiusdt",
                "bobusdt",
                "bomeusdt",
                "stxusdt",
                "mogusdt",
                "injusdt",
                "mntusdt",
                "beamusdt",
                "mewusdt",
                "gnousdt",
                "wavesusdt",
                "trumpusdt",
                "pnutusdt",
                "ethghs",
                "etcusdt",
                "ethbtc",
                "ltcbtc",
                "bchbtc",
                "cngnusdt",
                "watsonusdt",
                "wlfiusdt",
                "usdtusd",
                "btcghs",
                "nochillusdt",
                "katausdt",
                "slerfusdt",
                "nosusdt",
                "nearusdt",
                "strkusdt",
                "zkusdt",
                "susdt"
              ],
              "default": "btcngn"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "path",
            "schema": {
              "type": "string",
              "default": "10"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"success\",\n    \"message\": \"Successful\",\n    \"data\": {\n        \"asks\": [\n            [\n                92032089,\n                0.61102603\n            ],\n            [\n                92036143,\n                0.49320159\n            ],\n            [\n                92040197,\n                0.6266092\n            ],\n            [\n                92044252,\n                0.05392214\n            ],\n            [\n                92048306,\n                0.04486807\n            ],\n            [\n                92052360,\n                0.15982503\n            ],\n            [\n                92056414,\n                0.58472037\n            ],\n            [\n                92057285,\n                0.93082183\n            ],\n            [\n                92060468,\n                0.74669461\n            ],\n            [\n                92061340,\n                0.91844518\n            ]\n        ],\n        \"bids\": [\n            [\n                91505767,\n                0.24908664\n            ],\n            [\n                91500360,\n                0.91763351\n            ],\n            [\n                91494953,\n                0.1482939\n            ],\n            [\n                91489546,\n                0.2845928\n            ],\n            [\n                91484139,\n                0.6983035\n            ],\n            [\n                91478732,\n                0.04203352\n            ],\n            [\n                91473325,\n                0.81385347\n            ],\n            [\n                91467918,\n                0.76322111\n            ],\n            [\n                91462511,\n                0.82364755\n            ],\n            [\n                91457104,\n                0.55378148\n            ]\n        ],\n        \"timestamp\": 1772187854000\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "asks": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "example": 0.61102603,
                              "default": 0
                            }
                          }
                        },
                        "bids": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "example": 0.24908664,
                              "default": 0
                            }
                          }
                        },
                        "timestamp": {
                          "type": "integer",
                          "example": 1772187854000,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"status\": \"error\",\n    \"message\": \"Validation failed: must be greater than or equal to 1\",\n    \"data\": {\n        \"code\": \"E0107\",\n        \"message\": \"Validation failed: must be greater than or equal to 1\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Validation failed: must be greater than or equal to 1"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E0107"
                        },
                        "message": {
                          "type": "string",
                          "example": "Validation failed: must be greater than or equal to 1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{currency}/k_with_pending_trades/{trade_id}": {
      "get": {
        "summary": "Fetch k-line with pending trades",
        "description": "Returns the k-line (OHLC) data with pending trades, which are the trades not included in K data yet, because there's delay between trade generated and processed by K data generator.",
        "operationId": "fetch-k-line-data-with-pending-trades-for-a-market",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Allowed Currencies values: qdxusdt, btcusdt, btcngn, ethngn, qdxngn, xrpngn, dashngn, ltcngn, usdtngn, btcghs, usdtghs, trxngn, dogeusdt, bnbusdt, maticusdt, safemoonusdt, aaveusdt, shibusdt, dotusdt, linkusdt, cakeusdt, xlmusdt, xrpusdt, ltcusdt, ethusdt, trxusdt, axsusdt, wsgusdt, afenusdt, blsusdt, dashusdt.",
            "schema": {
              "type": "string",
              "enum": [
                "btcngn",
                "usdtngn",
                "ethngn",
                "xautngn",
                "usdcngn",
                "trxngn",
                "dashngn",
                "ltcngn",
                "xrpngn",
                "solngn",
                "qdxngn",
                "btcusdt",
                "ethusdt",
                "xautusdt",
                "trxusdt",
                "usdcusdt",
                "bnbusdt",
                "dogeusdt",
                "usatusdt",
                "ltcusdt",
                "linkusdt",
                "polusdt",
                "xrpusdt",
                "dotusdt",
                "aaveusdt",
                "dashusdt",
                "shibusdt",
                "xlmusdt",
                "cakeusdt",
                "adausdt",
                "bchusdt",
                "slpusdt",
                "flokiusdt",
                "solusdt",
                "cfxusdt",
                "pepeusdt",
                "bonkusdt",
                "algousdt",
                "wifusdt",
                "tonusdt",
                "rndrusdt",
                "xyousdt",
                "hypeusdt",
                "fartcoinusdt",
                "cngnngn",
                "suiusdt",
                "usdtghs",
                "lskusdt",
                "axcnhusdt",
                "axcnhngn",
                "usdtcngn",
                "qdxusdt",
                "usdtxaf",
                "usdtxof",
                "usdtzar",
                "usdtkes",
                "axsusdt",
                "filusdt",
                "babydogeusdt",
                "oneusdt",
                "xtzusdt",
                "sushiusdt",
                "zilusdt",
                "manausdt",
                "sandusdt",
                "apeusdt",
                "enjusdt",
                "lrcusdt",
                "wldusdt",
                "memeusdt",
                "ordiusdt",
                "ensusdt",
                "arbusdt",
                "myrousdt",
                "magatrumpusdt",
                "jupusdt",
                "blurusdt",
                "coqusdt",
                "fetusdt",
                "aiusdt",
                "bobusdt",
                "bomeusdt",
                "stxusdt",
                "mogusdt",
                "injusdt",
                "mntusdt",
                "beamusdt",
                "mewusdt",
                "gnousdt",
                "wavesusdt",
                "trumpusdt",
                "pnutusdt",
                "ethghs",
                "etcusdt",
                "ethbtc",
                "ltcbtc",
                "bchbtc",
                "cngnusdt",
                "watsonusdt",
                "wlfiusdt",
                "usdtusd",
                "btcghs",
                "nochillusdt",
                "katausdt",
                "slerfusdt",
                "nosusdt",
                "nearusdt",
                "strkusdt",
                "zkusdt",
                "susdt"
              ],
              "default": "btcngn"
            },
            "required": true
          },
          {
            "name": "trade_id",
            "in": "path",
            "description": "trade_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of returned data points. Type: Integer. Allowed values: 1..10000. Default is 30",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period of K line. You can choose between 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080. Default to 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 60
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data after that time will be returned. Type: Integer.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "\n{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": {\n    \"k\": [\n      [\n        1548259200,\n        1302736.74,\n        1302736.74,\n        1299637.85,\n        1299637.85,\n        1.2109\n      ],\n      [\n        1548262800,\n        1299637.85,\n        1299637.85,\n        1299637.85,\n        1299637.85,\n        0\n      ],\n      [\n        1548266400,\n        1299637.85,\n        1299637.85,\n        1297400.02,\n        1297400.02,\n        1.3265\n      ]\n    ],\n    \"trades\": [\n    {\n        \"tid\": 41,\n        \"type\": \"buy\",\n        \"date\": 1533139874,\n        \"price\": \"2672301.0\",\n        \"amount\": \"0.0001\",\n        \"base_volume\": \"0.0001\",\n        \"quote_volume\": \"267.2301\"\n      }]\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "k": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "example": 1302736.74,
                              "default": 0
                            }
                          }
                        },
                        "trades": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tid": {
                                "type": "integer",
                                "example": 41,
                                "default": 0
                              },
                              "type": {
                                "type": "string",
                                "example": "buy"
                              },
                              "date": {
                                "type": "integer",
                                "example": 1533139874,
                                "default": 0
                              },
                              "price": {
                                "type": "string",
                                "example": "2672301.0"
                              },
                              "amount": {
                                "type": "string",
                                "example": "0.0001"
                              },
                              "base_volume": {
                                "type": "string",
                                "example": "0.0001"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "267.2301"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{market}/k": {
      "get": {
        "summary": "Fetch k-line for a market",
        "description": "Returns the k-line (OHLC) data for a specific market.",
        "operationId": "fetch-k-line-for-a-market",
        "parameters": [
          {
            "name": "market",
            "in": "path",
            "description": "Allowed Currencies values: qdxusdt, btcusdt, btcngn, ethngn, qdxngn, xrpngn, dashngn, ltcngn, usdtngn, btcghs, usdtghs, trxngn, dogeusdt, bnbusdt, maticusdt, safemoonusdt, aaveusdt, shibusdt, dotusdt, linkusdt, cakeusdt, xlmusdt, xrpusdt, ltcusdt, ethusdt, trxusdt, axsusdt, wsgusdt, afenusdt, blsusdt, dashusdt.",
            "schema": {
              "type": "string",
              "enum": [
                "btcngn",
                "usdtngn",
                "ethngn",
                "xautngn",
                "usdcngn",
                "trxngn",
                "dashngn",
                "ltcngn",
                "xrpngn",
                "solngn",
                "qdxngn",
                "btcusdt",
                "ethusdt",
                "xautusdt",
                "trxusdt",
                "usdcusdt",
                "bnbusdt",
                "dogeusdt",
                "usatusdt",
                "ltcusdt",
                "linkusdt",
                "polusdt",
                "xrpusdt",
                "dotusdt",
                "aaveusdt",
                "dashusdt",
                "shibusdt",
                "xlmusdt",
                "cakeusdt",
                "adausdt",
                "bchusdt",
                "slpusdt",
                "flokiusdt",
                "solusdt",
                "cfxusdt",
                "pepeusdt",
                "bonkusdt",
                "algousdt",
                "wifusdt",
                "tonusdt",
                "rndrusdt",
                "xyousdt",
                "hypeusdt",
                "fartcoinusdt",
                "cngnngn",
                "suiusdt",
                "usdtghs",
                "lskusdt",
                "axcnhusdt",
                "axcnhngn",
                "usdtcngn",
                "qdxusdt",
                "usdtxaf",
                "usdtxof",
                "usdtzar",
                "usdtkes",
                "axsusdt",
                "filusdt",
                "babydogeusdt",
                "oneusdt",
                "xtzusdt",
                "sushiusdt",
                "zilusdt",
                "manausdt",
                "sandusdt",
                "apeusdt",
                "enjusdt",
                "lrcusdt",
                "wldusdt",
                "memeusdt",
                "ordiusdt",
                "ensusdt",
                "arbusdt",
                "myrousdt",
                "magatrumpusdt",
                "jupusdt",
                "blurusdt",
                "coqusdt",
                "fetusdt",
                "aiusdt",
                "bobusdt",
                "bomeusdt",
                "stxusdt",
                "mogusdt",
                "injusdt",
                "mntusdt",
                "beamusdt",
                "mewusdt",
                "gnousdt",
                "wavesusdt",
                "trumpusdt",
                "pnutusdt",
                "ethghs",
                "etcusdt",
                "ethbtc",
                "ltcbtc",
                "bchbtc",
                "cngnusdt",
                "watsonusdt",
                "wlfiusdt",
                "usdtusd",
                "btcghs",
                "nochillusdt",
                "katausdt",
                "slerfusdt",
                "nosusdt",
                "nearusdt",
                "strkusdt",
                "zkusdt",
                "susdt"
              ],
              "default": "btcngn"
            },
            "required": true
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "An integer represents the seconds elapsed since Unix epoch. If set, only k-line data after that time will be returned. Type: Integer.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time period of K line. You can choose between 1, 5, 15, 30, 60, 120, 240, 360, 720, 1440, 4320, 10080. Default to 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of returned data points. Type: Integer. Allowed values: 1..10000. Default is 30",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": [\n    [\n      1770989640000,\n      \"93812502\",\n      \"93812502\",\n      \"93812502\",\n      \"93812502\",\n      \"0.00126185\"\n    ],\n    [\n      1770989580000,\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"0\"\n    ],\n    [\n      1770989520000,\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"0\"\n    ],\n    [\n      1770989460000,\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"93694580\",\n      \"0.00043\"\n    ],\n    [\n      1770989400000,\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"0\"\n    ],\n    [\n      1770989340000,\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"0\"\n    ],\n    [\n      1770989280000,\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"93495379\",\n      \"0.00021822\"\n    ],\n    [\n      1770989220000,\n      \"93505767\",\n      \"93503979\",\n      \"93505767\",\n      \"93503979\",\n      \"0.00062249\"\n    ],\n    [\n      1770989160000,\n      \"94273031\",\n      \"94273031\",\n      \"94273031\",\n      \"94273031\",\n      \"0.04162121\"\n    ],\n    [\n      1770989100000,\n      \"93167640\",\n      \"93167640\",\n      \"93167640\",\n      \"93167640\",\n      \"0\"\n    ]\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Successful"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "example": 1770989640000,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "Markets"
        ]
      }
    },
    "/markets/{currency}/order_book": {
      "get": {
        "summary": "Fetch order book for a market",
        "description": "Gets the volume of trades that are currently being processed by the order book.",
        "operationId": "fetch-order-book-items-for-a-market",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "description": "Allowed Currencies values: qdxusdt, btcusdt, btcngn, ethngn, qdxngn, xrpngn, dashngn, ltcngn, usdtngn, btcghs, usdtghs, trxngn, dogeusdt, bnbusdt, maticusdt, safemoonusdt, aaveusdt, shibusdt, dotusdt, linkusdt, cakeusdt, xlmusdt, xrpusdt, ltcusdt, ethusdt, trxusdt, axsusdt, wsgusdt, afenusdt, blsusdt, dashusdt.",
            "schema": {
              "type": "string",
              "enum": [
                "btcngn",
                "usdtngn",
                "ethngn",
                "xautngn",
                "usdcngn",
                "trxngn",
                "dashngn",
                "ltcngn",
                "xrpngn",
                "solngn",
                "qdxngn",
                "btcusdt",
                "ethusdt",
                "xautusdt",
                "trxusdt",
                "usdcusdt",
                "bnbusdt",
                "dogeusdt",
                "usatusdt",
                "ltcusdt",
                "linkusdt",
                "polusdt",
                "xrpusdt",
                "dotusdt",
                "aaveusdt",
                "dashusdt",
                "shibusdt",
                "xlmusdt",
                "cakeusdt",
                "adausdt",
                "bchusdt",
                "slpusdt",
                "flokiusdt",
                "solusdt",
                "cfxusdt",
                "pepeusdt",
                "bonkusdt",
                "algousdt",
                "wifusdt",
                "tonusdt",
                "rndrusdt",
                "xyousdt",
                "hypeusdt",
                "fartcoinusdt",
                "cngnngn",
                "suiusdt",
                "usdtghs",
                "lskusdt",
                "axcnhusdt",
                "axcnhngn",
                "usdtcngn",
                "qdxusdt",
                "usdtxaf",
                "usdtxof",
                "usdtzar",
                "usdtkes",
                "axsusdt",
                "filusdt",
                "babydogeusdt",
                "oneusdt",
                "xtzusdt",
                "sushiusdt",
                "zilusdt",
                "manausdt",
                "sandusdt",
                "apeusdt",
                "enjusdt",
                "lrcusdt",
                "wldusdt",
                "memeusdt",
                "ordiusdt",
                "ensusdt",
                "arbusdt",
                "myrousdt",
                "magatrumpusdt",
                "jupusdt",
                "blurusdt",
                "coqusdt",
                "fetusdt",
                "aiusdt",
                "bobusdt",
                "bomeusdt",
                "stxusdt",
                "mogusdt",
                "injusdt",
                "mntusdt",
                "beamusdt",
                "mewusdt",
                "gnousdt",
                "wavesusdt",
                "trumpusdt",
                "pnutusdt",
                "ethghs",
                "etcusdt",
                "ethbtc",
                "ltcbtc",
                "bchbtc",
                "cngnusdt",
                "watsonusdt",
                "wlfiusdt",
                "usdtusd",
                "btcghs",
                "nochillusdt",
                "katausdt",
                "slerfusdt",
                "nosusdt",
                "nearusdt",
                "strkusdt",
                "zkusdt",
                "susdt"
              ],
              "default": "btcngn"
            },
            "required": true
          },
          {
            "name": "ask_limit",
            "in": "query",
            "description": "Limit the number of returned sell orders. Type: Integer, Allowed values: 1..200. Default to 20.",
            "schema": {
              "type": "string",
              "default": "20"
            }
          },
          {
            "name": "bids_limit",
            "in": "query",
            "description": "Limit the number of returned buy orders. Type: Integer, Allowed values: 1..200. Default to 20.",
            "schema": {
              "type": "string",
              "default": "20"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"success\",\n  \"message\": \"Successful\",\n  \"data\": {\n    \"bids\": [\n      {\n        \"id\": 3115264299823557600,\n        \"side\": \"buy\",\n        \"price\": \"88200000.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0005045500000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0005045500000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-20T08:01:17.000Z\",\n        \"updated_at\": \"2026-02-20T08:01:17.000Z\"\n      },\n      {\n        \"id\": 3115281445333054500,\n        \"side\": \"buy\",\n        \"price\": \"90104371.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0009771600000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0009771600000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-20T08:44:29.000Z\",\n        \"updated_at\": \"2026-02-20T08:44:29.000Z\"\n      },\n      {\n        \"id\": 3115281599951877600,\n        \"side\": \"buy\",\n        \"price\": \"90104381.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000500000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0000500000000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-20T08:47:19.000Z\",\n        \"updated_at\": \"2026-02-20T08:47:19.000Z\"\n      },\n      {\n        \"id\": 3115285413882863600,\n        \"side\": \"buy\",\n        \"price\": \"90104378.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0009759000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0009759000000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-20T08:46:41.000Z\",\n        \"updated_at\": \"2026-02-20T08:46:41.000Z\"\n      },\n      {\n        \"id\": 3115286547754164000,\n        \"side\": \"buy\",\n        \"price\": \"90104379.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0011525500000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0011525500000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-20T08:46:53.000Z\",\n        \"updated_at\": \"2026-02-20T08:46:53.000Z\"\n      },\n      {\n        \"id\": 62,\n        \"side\": \"buy\",\n        \"price\": \"2600000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2600000.0000000000000000\",\n        \"origin_volume\": \"0.0001000000000000\",\n        \"executed_volume\": \"0.0001000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T08:57:40.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 63,\n        \"side\": \"buy\",\n        \"price\": \"2610000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2610000.0000000000000000\",\n        \"origin_volume\": \"0.0001000000000000\",\n        \"executed_volume\": \"0.0001000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T08:58:03.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 64,\n        \"side\": \"buy\",\n        \"price\": \"2615000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2615000.0000000000000000\",\n        \"origin_volume\": \"0.0001000000000000\",\n        \"executed_volume\": \"0.0001000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T08:58:25.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 66,\n        \"side\": \"buy\",\n        \"price\": \"2630000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2630000.0000000000000000\",\n        \"origin_volume\": \"0.0003000000000000\",\n        \"executed_volume\": \"0.0003000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T08:58:45.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 67,\n        \"side\": \"buy\",\n        \"price\": \"2630001.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2630001.0000000000000000\",\n        \"origin_volume\": \"0.0003000000000000\",\n        \"executed_volume\": \"0.0003000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T08:59:13.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 69,\n        \"side\": \"buy\",\n        \"price\": \"2630011.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2630011.0000000000000000\",\n        \"origin_volume\": \"0.0001000000000000\",\n        \"executed_volume\": \"0.0001000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:00:05.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 70,\n        \"side\": \"buy\",\n        \"price\": \"2630411.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2630411.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:00:17.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 73,\n        \"side\": \"buy\",\n        \"price\": \"2600000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2600000.0000000000000000\",\n        \"origin_volume\": \"0.0003000000000000\",\n        \"executed_volume\": \"0.0003000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:01:23.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 74,\n        \"side\": \"buy\",\n        \"price\": \"2600001.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2600001.0000000000000000\",\n        \"origin_volume\": \"0.0003000000000000\",\n        \"executed_volume\": \"0.0003000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:01:35.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 77,\n        \"side\": \"buy\",\n        \"price\": \"2600101.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2600101.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:01:50.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 78,\n        \"side\": \"buy\",\n        \"price\": \"2600301.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2600301.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:02:06.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 79,\n        \"side\": \"buy\",\n        \"price\": \"2601301.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2601301.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 1,\n        \"created_at\": \"2018-08-01T09:02:15.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 81,\n        \"side\": \"buy\",\n        \"price\": \"2611301.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2611301.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 2,\n        \"created_at\": \"2018-08-01T09:02:31.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 83,\n        \"side\": \"buy\",\n        \"price\": \"2611301.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2611301.0000000000000000\",\n        \"origin_volume\": \"0.0002000000000000\",\n        \"executed_volume\": \"0.0002000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2018-08-01T09:11:43.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      },\n      {\n        \"id\": 84,\n        \"side\": \"buy\",\n        \"price\": \"2671000.0000000000000000\",\n        \"state\": \"FILLED\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0000000000000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"2655250.0000000000000000\",\n        \"origin_volume\": \"0.0004000000000000\",\n        \"executed_volume\": \"0.0004000000000000\",\n        \"trades_count\": 2,\n        \"created_at\": \"2018-08-01T09:15:50.000Z\",\n        \"updated_at\": \"2018-12-11T05:10:18.000Z\"\n      }\n    ],\n    \"asks\": [\n      {\n        \"id\": 3115096435321958400,\n        \"side\": \"sell\",\n        \"price\": \"96935759.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0009248800000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0009248800000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-18T06:57:43.000Z\",\n        \"updated_at\": \"2026-02-18T06:57:42.000Z\"\n      },\n      {\n        \"id\": 3115114903681283600,\n        \"side\": \"sell\",\n        \"price\": \"95935759.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0009379900000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0009379900000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-18T07:01:55.000Z\",\n        \"updated_at\": \"2026-02-18T07:01:55.000Z\"\n      },\n      {\n        \"id\": 3115115487796720600,\n        \"side\": \"sell\",\n        \"price\": \"96373519.0000000000000000\",\n        \"state\": \"NEW_\",\n        \"currency\": \"btcngn\",\n        \"volume\": \"0.0009288200000000\",\n        \"ord_type\": \"LIMIT\",\n        \"avg_price\": \"0.0000000000000000\",\n        \"origin_volume\": \"0.0009288200000000\",\n        \"executed_volume\": \"0.0000000000000000\",\n        \"trades_count\": 0,\n        \"created_at\": \"2026-02-18T06:56:35.
[...]
